<article class="treatment-card">

    <div class="treatment-card-image">

        <img
            src="assets/images/treatments/acne.jpg"
            alt="Acne and acne scar treatment"
            loading="lazy">

        <span class="treatment-number">
            01
        </span>

    </div>


    <div class="treatment-card-content">

        <span class="treatment-category">
            DERMATOLOGY
        </span>

        <h3>
            Acne &amp; Acne Scarring
        </h3>

        <p>
            Personalized treatment plans designed to
            manage active acne and improve the appearance
            of acne-related marks and scars.
        </p>

        <a
            href="pages/treatments.html#acne"
            class="treatment-link">

            Explore Treatment

            <i class="fa-solid fa-arrow-right"></i>

        </a>

    </div>

</article>